<div class="w3-bar w3-theme-d4">
	<a href="javascript:void(0)" 
		class="w3-bar-item w3-padding w3-card w3-button w3-left w3-hide-large w3-hide-medium"
		onclick="myFunction(0)">
		&#9776;
	</a>
	<a href="history.html" class="w3-bar-item w3-button"><b>John Doe / Project01</b></a>
	
	<!-- Elements in the right side -->
    <a href="index.html" class="w3-bar-item w3-button w3-right">
		<i class="fa fa-user"></i>
	</a>
	<a href="#" class="w3-bar-item w3-button w3-theme-action w3-hide-small w3-right">Review</a>
	<a href="#" class="w3-bar-item w3-button w3-theme-action w3-hide-small w3-right">Tasks</a>
	<div class="w3-dropdown-hover w3-hide-small w3-right">
		<a href="#" class="w3-button">
			<i class="fa fa-plus"></i>
			&#9660;
		</a>
		<div class="w3-dropdown-content w3-theme-d3 w3-bar-block w3-card">
			<a href="#" class="w3-bar-item w3-button">New repository</a>
			<a href="#" class="w3-bar-item w3-button">Import repository</a>
			<a href="#" class="w3-bar-item w3-button">New organization</a>
			<a href="#" class="w3-bar-item w3-button">New project</a>
		</div>
	</div>
	
	<input class="w3-bar-item w3-input w3-neutral-l3 w3-quarter w3-hide-small w3-right" 
		type="text" placeholder="Type '\' to search">
</div>


<div id="demo" class="w3-bar-block w3-theme-d4 w3-card w3-hide w3-hide-large w3-hide-medium">	
	<input class="w3-bar-item w3-input w3-neutral-l3" 
		type="text" placeholder="Type '\' to search">
	<a href="#" class="w3-bar-item w3-button w3-theme-action">Review</a>
	<a href="#" class="w3-bar-item w3-button w3-theme-action">Tasks</a>
	<div class="w3-dropdown-hover">
		<a href="#" class="w3-button">
			Add...
			&#9660;
		</a>
		<div class="w3-dropdown-content w3-theme-d3 w3-bar-block w3-card">
			<a href="#" class="w3-bar-item w3-button">New repository</a>
			<a href="#" class="w3-bar-item w3-button">Import repository</a>
			<a href="#" class="w3-bar-item w3-button">New organization</a>
			<a href="#" class="w3-bar-item w3-button">New project</a>
		</div>
	</div>
</div>